@import "tailwindcss";

@layer base {
    :root {
        --custom-blue-800: #00204f;
        --custom-blue-700: #13335f;
        --custom-green-400: #26d2db;
        --custom-grey-400: #6f89a1;
    }
}

@custom-variant dark (&:where(.dark, .dark *));